<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css">
    <!-- vuejs cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>
<body>
    <!-- navbar -->
    <navbar class="navbar navbar-light bg-light">
        <div class="container d-flex justify-content-between">
            <div class="navbar-brand text-primary">
                Discord
            </div>
        </div>
    </navbar>

    <div id="app">
        <div class="row mt-sm-5">
            <div class="col-0 col-sm-4"></div>
            <div class="col-12 col-sm-4">
                <div class="list-group">
                    <!-- search bar -->
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="
                        Enter Message" v-model="messageController" @keyup.enter="sendMessage">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" @click="sendMessage">
                                Send
                            </button>
                        </div>
                    </div>
                    <div v-for="(message, index) in messages" :key="index" class="list-group-item">
                        <p>{{message}}</p>
                    </div>
                </div>
            </div>
            <div class="col-0 col-sm-4"></div>
        </div>
    </div>
</body>
</html>

<script src="index.js"></script>